.secondPageContainer{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0.25turn, #daeef7, #fbfcf0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondPageContainerHero{
    height: 80%;
width: 100%;
display: flex;
justify-content: space-between;
}
.secondPageContainerHeroLeft{
    width: 53%;
    
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   
}
.meryem{
    
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.secondPageContainerHeroRight{
    width: 40%;
    margin-right: 40px;
    background: linear-gradient(0.25turn, #c8e7f5, #eaebdd);

}
.secondPageContainerHeroLeftHight{
    height: 20%;
}
.topTitle{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7rem;
}
.topTitle:hover{
    width: 50%;
    cursor: pointer;
  color: rgb(100, 176, 201);
  border-bottom: 2px solid rgb(100, 176, 201);

  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
 margin-left: 20px;
}
.topText{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;

}
.topText:hover{
    cursor: pointer;
    color: rgb(56, 84, 94);
}
.secondPageContainerHeroLeftMiddle{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.emailStyle{
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.3rem;

}
.emailStyle:hover{
    width: 50%;
    margin-left: 20px;
    text-decoration: none;
color: rgb(134, 191, 210);
border-bottom: 2px dotted rgb(134, 191, 210);

}
.secondPageContainerHeroLeftBottom{
   height: 20%;
   display: flex;
 

    width: 100%;
  
}
.one{
    background: linear-gradient(0.25turn,  #fbfcf0  ,  #c8eafa);
    height: 100%;
    width: 40%;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one:hover{
   padding: 10px;
}
.two{
    background-color: #c8eafa;
    height: 100%;
    width: 30%;
    margin-right: 7px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.two:hover{
    padding: 10px;
 }
.three{
    height: 100%;
    width: 30%;
    background-color: #c8eafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.three:hover{
    padding: 10px;
 }
.icon{
    height: 100%;
color: blue;
font-size: large;
width: 100%;
background-color: red;

}
.imgIcon{
    height: 30%;
    width: 20%;
}

.above{
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    grid-gap: 10%;
}
.aboveOne{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.i{
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    padding: 10px 0 10px 0;
}
.i::placeholder{
    color: black;
}
select{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0 10px 0;
}
.bottom{
    height: 45%;
    display: flex;
   
    align-items: flex-end;
   

}
.bottomContainer{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   padding-left: 20px;
    
}
.inputs{
    width: 90%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
   
}
.inputs::placeholder{
    color: gray;
    font-weight: 400;
}
.rights{
    font-size: 0.5rem;
    font-weight: 600;
    width: 90%;
}
.agree{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 0.6rem;
}
.submit{
    border: 2px dashed black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    position: relative;
    display: flex;
    align-items: center;

}
.absoluteSubmit{
    font-size: 0.8rem;
    font-weight: 700;
    color: #4db8ff;
    position: absolute;
    right: -25px;
}
span{
    color:#33adff;   
}

@media only screen and (max-width: 900px) {
    .secondPageContainer{
        height: 120vh;
        width: 100%;
        background: linear-gradient(0.25turn, #daeef7, #fbfcf0);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secondPageContainerHero{

        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        }
        .secondPageContainerHeroLeft{
            width: 80%;
            display: flex;
            flex-direction: column;
           align-items: flex-start; 
           height: 46%;

        }
        .secondPageContainerHeroRight{
            margin-left: 30px;
            width: 80%;
            background: linear-gradient(0.25turn, #c8e7f5, #eaebdd);
            height: 50%;

        }
        .meryem{
    
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
        }
        .above{
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;
            height: 50%;
            justify-content: space-evenly;
        }

        .imgContainer{
            height: 60%;
            width: 80%;
            position: relative;
        }
        .imgContainer:hover{
            border-top: 2px solid lightblue ;
            border-right: 2px solid lightblue ;
        
            transform: translate(10px, 10px);
        
        }
  }
  

